@font-face {
    font-family: Quicksand;
    src: url('../font/Quicksand-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Overlock;
    src: url('../font/Overlock-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Overlock;
    src: url('../font/Overlock-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Overlock;
    src: url('../font/Overlock-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Overlock;
    src: url('../font/Overlock-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Overlock;
    src: url('../font/Overlock-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Overlock;
    src: url('../font/Overlock-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    --black-text-color: #000000;
    --white-text-color: #FFFFFF;

    --lm-bg-color: #C9F1FF;
    --lm-prominent-element-color: #1F4B7D;
    /* button color, paragraph/description/footer background color */
    --lm-secondary-element-color: #005070;
    /* navigation/descripter color, small rectangle color */
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--lm-bg-color);

    .layout {
        margin: 0 10px;
    }
}

h1 {
    font-family: "Overlock";
    margin-top: 4.375rem;
    text-align: center;
}

h2 {
    font-family: "Overlock";
    font-size: 1.6875rem;
    font-style: italic;
    text-align: center;
}

h3 {
    font-family: "Overlock";
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-bottom: -0.625rem;
}

p {
    font-family: "Quicksand";
    font-size: 0.9375rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin: 1rem;
}

a {
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

img {
    width: 100%;
    height: auto;
}

.reads img,
.movies img {
    width: 45%;
    height: auto;
    margin-top: 1.4375rem;
}

#wendy {
    position: fixed;
    font-size: 25px;
    left: 12px;
    top: 17px;
    margin: 0;
    background-color: var(--lm-bg-color);
    z-index: 2;

    a:link {
        color: var(--black-text-color);
    }

    a:visited {
        color: var(--black-text-color);
    }
}

.menu {
    width: 40px;
    height: auto;
    position: fixed;
    right: 12px;
    top: 17px;
    border-radius: 8px;
    background-color: var(--lm-bg-color);
    z-index: 1;
}

.sidenav {
    height: 100%;
    width: 0;
    /* makes the sidebar hidden */
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    /* Smooth sliding effect */
    padding-top: 60px;
    margin: 0;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
}

.closebtn {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-weight: bold;
    z-index: 3;
}

.sidenav.open {
    /* targets classes with sidenav and open in it */
    /* makes the sidebar appear */
    width: 250px;
}

nav {
    border: 2px solid var(--lm-secondary-element-color);
    border-radius: 22px;
    bottom: 0;
    max-width: 800px;

    ul {
        list-style: none;
        text-align: center;
        padding: 0;
    }

    a {
        display: block;
        font-family: "Quicksand";
        font-weight: 600;
        margin: 30px auto;
        height: 30px;
    }

    a:link {
        color: var(--black-text-color);
    }

    a:visited {
        color: var(--black-text-color);
    }

}

.creatives-detail {
    max-width: 1300px;
    height: auto;
    margin: 0 auto;

    ul {
        max-width: 600px;
        height: auto;
        margin: 0 auto;
        list-style: none;
        padding: 0;
    }

    li {
        border: 1px solid var(--lm-secondary-element-color);
        display: inline-block;
        font-family: "Quicksand";
        font-size: 0.75rem;
        font-weight: 600;
        margin: 0.25rem 0.125rem;
        padding: 0.25rem 0.5rem;
    }

    .creatives-intro {
        background-color: var(--lm-prominent-element-color);
        color: var(--white-text-color);
        border-radius: 1.875rem;
        margin: 1.25rem auto;
        padding: 1rem;
    }

    h3 {
        font-family: "Overlock";
        font-size: 1.25rem;
        font-weight: bold;
        margin: 2.5rem 1rem -0.625rem;
    }
}

header a {
    background-color: var(--lm-secondary-element-color);
    color: var(--white-text-color)
}

#resume-pdf {
    width: 6.625rem;
    height: auto;
    margin: 0 auto;

    a {
        background-color: var(--lm-secondary-element-color);
        border-radius: 1.875rem;
        box-shadow: 0 0 0.25rem 0.0625rem rgba(0, 0, 0, 0.3);
        display: inline-block;
        font-family: "Quicksand";
        font-size: 1rem;
        font-weight: 600;
        margin: 16px 4px auto;
        padding: 10px 14px 12px;
    }
}

.resume-contact {
    font-family: "Quicksand";
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
}

.resume {
    max-width: 800px;
    height: auto;
    margin: 0 auto;

    h3 {
        color: var(--lm-prominent-element-color);
        font-weight: bolder;
        text-transform: uppercase;
    }

    p {
        font-family: "Overlock";
        font-size: 1.125rem;
        margin-top: 1.5625rem;
        margin-bottom: 0.4375rem;
    }

    ul {
        font-family: "Quicksand";
        font-size: 0.9375rem;
        font-weight: bold;
        line-height: 1.5rem;
    }

    hr {
        border: 1.5px solid black;
        margin-top: 30px;
    }
}

.main {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.main_button {
    width: 15.625rem;
    margin: 0 auto;

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        background-color: var(--lm-prominent-element-color);
        color: var(--white-text-color);
        border-radius: 1.875rem;
        font-family: "Quicksand";
        font-size: 1.25rem;
        margin: 10px auto;
        padding: 14px;
        text-align: center;
    }

    a:visited {
        color: white;
    }

    a:link {
        color: var(--white-text-color);
    }

}

.creatives {
    max-width: 800px;
    height: auto;
    margin: 0 auto;

    .zara {
        background-color: rgba(255, 255, 255, 0.379);
        border: 2px solid rgba(17, 17, 18, 0.2);
        position: relative;
    }

    .mono {
        background-color: rgb(174 202 255 / 13%);
        border: 2px solid #a9d1ff;
        position: relative;
    }

    .dragonventure {
        background-color: rgb(138 43 226 / 13%);
        border: 2px solid rgba(138, 43, 226, 0.2);
        position: relative;
    }

    .thephoenixlantern {
        background-color: rgb(51 128 208 / 13%);
        border: 2px solid rgba(0, 123, 255, 0.2);
        position: relative;
    }

    section {
        border-radius: 1.875rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 3.75rem auto -0.125rem;
        min-height: 475.71px;
        transition: .2s ease-in-out;

        img {
            border-radius: 1.875rem;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    section:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }

    h2 {
        font-style: initial;
    }

    div {
        margin: 1.25rem auto;
        padding: 1rem;

        p {
            font-weight: initial;
            margin: 0;
        }
    }

    /*a {
        background-color: var(--lm-secondary-element-color);
        border-radius: 1.875rem;
        box-shadow: 0 0 0.25rem 0.0625rem rgba(0, 0, 0, 0.3);
        display: inline-block;
        font-family: "Quicksand";
        font-size: 1rem;
        font-weight: 600;
        margin: 16px 4px auto;
        padding: 10px 14px 12px;
    }*/

    a:link {
        color: black;
    }

    a:visited {
        color: black;
    }

    ul {
        max-width: 600px;
        height: auto;
        margin: 0 auto;
        list-style: none;
        padding: 0;
    }

    li {
        border: 1px solid var(--lm-secondary-element-color);
        display: inline-block;
        font-family: "Quicksand";
        font-size: 0.75rem;
        font-weight: 600;
        margin: 0.25rem 0.125rem;
        padding: 0.25rem 0.5rem;
    }
}

.creatives-projects {
    div {
        display: block;
        width: 50%;
        height: auto;
        margin: 1.25rem auto;

        p {
            margin-top: 0.3125rem;
        }
    }
}

@media screen and (min-width: 550px) {
    .zara {
        grid-area: zara;
    }

    .mono {
        grid-area: mono;
    }

    .dragonventure {
        grid-area: dragonventure;
    }

    .thephoenixlantern {
        grid-area: thephoenixlantern;
    }

    .creatives {
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        grid-template-areas:
            'zara mono'
            'dragonventure thephoenixlantern';
        max-width: 800px;

        section {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .skills {
        display: flex;
    }

    .creatives-detail {
        h3 {
            margin-top: 0px;
        }
    }

    .target {
        grid-area: target;
    }

    .target-image {
        grid-area: target-image;
    }

    .research {
        grid-area: research;
    }

    .research-image {
        grid-area: research-image;
    }

    .ideations {
        grid-area: ideations;
    }

    .ideations-image {
        grid-area: ideations-image;
    }

    .conclusion {
        grid-area: conclusion;
    }

    .locker {
        grid-area: locker;
    }

    .lounge {
        grid-area: lounge;
    }

    .app {
        grid-area: app;
    }

    #reviews {
        width: 50%;
        display: block;
    }

    .creative-specifics-layout {
        display: grid;
        grid-template: repeat(4, 1fr) / 2fr 1fr;
        grid-template-areas:
            'target target-image'
            /* how do i make it so this only shows up for those that have it */
            'research research-image'
            'ideations ideations-image'
            'conclusion .';
    }

    .conclusion-image {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        grid-template-areas: 'locker lounge app';
    }

    #oneliketwo {
        grid-area: oneliketwo;
    }

    #twolikeone {
        grid-area: twolikeone;
    }

    #illusion-of-transparency {
        grid-area: illusion-of-transparency;
    }

    .creatives-projects {
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-template-areas:
            'oneliketwo twolikeone illusion-of-transparency';
        max-width: 800px;
        height: auto;
        margin: 0 auto;
    }

    .introduction {
        grid-area: introduction;
    }

    .photography {
        grid-area: photography;
        margin-top: 50px;
    }

    .good-reads {
        grid-area: good-reads;
    }

    .good-movies {
        grid-area: good-movies;
    }

    .about-layout {
        display: grid;
        grid-template: auto / repeat(4, 1fr);
        grid-template-areas:
            'introduction introduction photography photography'
            '. good-reads good-movies .';
        max-width: 800px;
        height: auto;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: space-around;

        a {
            margin: 10px;
        }
    }
}

.about {
    h2 {
        margin-top: 2.1875rem;
    }
}

.quote {
    font-family: "Quicksand";
    font-size: 0.9375rem;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: var(--lm-prominent-element-color);
    color: var(--white-text-color);
    margin-top: 3.125rem;
}

.contactinfo {
    width: 140px;
    margin: 0 auto;
    padding: 8px 0;
}

.mail,
.linkedin,
.github {
    display: inline-block;
    width: 40px;
    height: auto;
}

a:hover {
    transform: scale(1.1);
}